* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header-nav__item {
    text-decoration: none;
    color: black;
}

.ad__img {
    height: 10rem;
    flex-grow: 1;
}

.ad__text {
    font-size: .75rem;
    color: #767676;
}

.__aside .__text {
    grid-column: span 2;
    text-align: right;
}

.__aside .--icon {
    justify-self: end;
}

.__profile-pic {
    width: 3rem;
    height: 3rem;
    grid-row: span 2;

    & img {
        border-radius: 50%;
        width: 100%;
        height: auto;
    }
}

.__profile-name {
    grid-column: span 2;
    font-size: .75rem;
    }

    .--mail {
    background: #afafaf;
    fill: #ffffff;
}

.--twitter {
    background: #14ABD7;
    fill: #ffffff;
}

.comments {
    gap: .25rem;
    align-items: center;
    background: none;
    border: none;
}

.hook__text {
    width: 27.5rem;
}

.explore__navigation .--icon {
    width: 1.5rem;
    height: 1.5rem;
}

.__time {
        font-size: .75rem;
}

.latest__title {
    position: relative;
    font-size: .875rem;
    margin-bottom: 1rem;

    &::after {
        content: '';
        position: absolute;
        bottom: -.5rem;
        left: 0;

        border-bottom: 1px dotted #afafaf;
        width: 100%;
    }
}

.recommend__heading {
        position: relative;
        padding-right: 5rem;
        margin-bottom: 2rem;
}

.__profile-pic {
    width: 100%;
    align-self: center;
    grid-row: span 2;
}

.__posted {
    font-size: .75rem;
    grid-area: 2 / 2;
    align-self: start;
}

.comment__text {
        font-size: .75rem;
        grid-area: 2 / 2;
        align-self: start;
}

.__recommend-btn {
        font-size: .875rem;
        text-decoration: none;

        background: none;
        border: none;

        margin-bottom: 2rem;
}

.seperator {
    position: relative;

    &::after {
        content: '';
            position: absolute;
            bottom: -3rem;
            left: 0;

            border-bottom: 1px solid #afafaf;
            width: 100%;
    }
}

.--grid {
    display: grid;
    gap: .25rem;
}

.--flex {
    display: flex;
}

.--icon {
    width: 1em;
    height: 1em;
}

.--bold {
    font-weight: 700;
}

.--uppercase {
    text-transform: uppercase;
}

.--small {
    font-size: .675rem;
}

.--red {
    color: red;
}

.--black {
    color: #000000;
    fill: #000000;
}

.--light-grey {
    color: #b6b6b6;
    fill: #b6b6b6;

}

.--grey {
    color: #767676;
    fill: #767676;
}

.--vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.full-w {
    grid-column: 1 / -1;
}

.--social {
    justify-content: center;
    align-items: center;
    
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.--btn {
    display: flex;
    gap: .25rem;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 2rem;
    padding: .5rem 1rem;

    border: none;
    border-radius: .25rem;

    text-decoration: none;
    color: #FFF;
    fill: #FFF;

    cursor: pointer;
}

.--large-btn {
    width: 10rem;
    height: 2rem;
    padding: .5rem 1rem;
}

.--bg-blue {
    background: #306199;
}

.--bg-light-blue {
    background: #26C4F1;
}

.--bg-grey {
    background: #999;
}

.--bg-red {
    background: #E63946;
}

.--no-underline {
    text-decoration: none;
}

.--gap {
    gap: 0.5rem;
}

.--center {
    margin: auto;
    text-align: center;
}

.__page {
    gap: .5rem;
    flex-direction: column;

    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;

    & * {
        text-decoration: none;
    }

    & img {
        aspect-ratio: 2 / 1.25;
        object-fit: cover;
    }

    & h4 {
        font-size: 1rem;
        font-family: 'Times New Roman', Times, serif;
    }
}

.--free {
    padding-top: 1.25rem;
}

.--sans {
    font-family: Arial, Helvetica, sans-serif;
}
