main, footer {
    padding-inline: calc((100% - 50rem) / 2);
    margin-block: 1.5rem;
}

section {
    margin-block: 3rem;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 4rem;

    & button {
        position: relative
        ;
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }

    &  button::after {
        content: "MENU";
        position: absolute;
        font-size: .675rem;
        font-weight: 700;

        left: 1.5rem;
        top: 50%;
        transform: translateY(-60%);
    }
}

h1 {
    width: 25rem;

    & img {
        width: 100%;
        max-height: 4rem;
    }
}

.header-login {
    display: flex;
    align-items: center;
    gap: .5rem;

    & button {
        background: none;
        border: none;
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.header-nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;

    padding: .5rem;
    border-block: 1px solid #f5f5f5;
    box-shadow: 0 .125rem 0 #f5f5f5;
}

.ad {
    display: flex;
    align-items: center;
}

.__aside {
    flex: 0 1 95%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: .25rem;

    height: fit-content;
    margin-top: 11rem;
    }

.__main {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}