main, footer {
    padding-inline: calc((100% - 50rem) / 2);
    margin-block: 1.5rem;
}

section {
    margin-block: 3rem;
}

.header-controls {
    display: flex;
    align-items: center;
    gap: 4rem;

    & button {
        position: relative
        ;
        background: none;
        border: none;
        font-size: 1rem;
        cursor: pointer;
    }

    &  button::after {
        content: "MENU";
        position: absolute;
        font-size: .675rem;
        font-weight: 700;

        left: 1.5rem;
        top: 50%;
        transform: translateY(-60%);
    }
}

h1 {
    width: 25rem;

    & img {
        width: 100%;
        max-height: 4rem;
    }
}

.header-login {
    display: flex;
    align-items: center;
    gap: .5rem;

    & button {
        background: none;
        border: none;
        font-size: .75rem;
        font-weight: 700;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.header-nav ul {
    display: flex;
    justify-content: center;
    gap: 2rem;
    list-style: none;

    padding: .5rem;
    border-block: 1px solid #f5f5f5;
    box-shadow: 0 .125rem 0 #f5f5f5;
}

.ad {
    display: flex;
    align-items: center;
}

.__aside {
    flex: 0 1 95%;
    display: grid;
    grid-template-columns: 1fr 10fr;
    gap: .25rem;

    height: fit-content;
    margin-top: 11rem;
    }

.__main {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.__heading {
        position: relative;
        grid-column: span 3;
    }

.__heading::after {
    content: '';
    position: absolute;
    bottom: .5rem;
    left: 0;

    border-bottom: 2px dotted #afafaf;
    width: 100%;
}

.__profile-socials {
    display: flex;
    align-items: center;

    font-size: .75rem;
    font-style: normal;
    text-decoration: none;
    color: #000;
    gap: .5rem;
}

.share {
    display: flex;
    gap: .25rem;
    float: right;
    padding-bottom: 5rem;

    text-transform: uppercase;
    font-size: .75rem;

    & .--icon {
        width: 1.25rem;
        height: 1.25rem;
    }
}

.abroad__article {
    position: relative;

    &::after {
        content: '';
        position: absolute;
        bottom: 12.5rem;
        left: 0;

        height: 15rem;
        width: 100%;
        background: linear-gradient(0deg,#FFF 12.5%, #ffffff00 100%);
    }

    & p {
        margin-bottom: 2rem;
    }
}

.explore__heading {
        align-items: center;
        gap: .5rem;

        & span {
            align-items: center;
        }
    }

.explore__main__article {
    flex: 0 1 25%;
}

.latest__header {
    grid-column: span 2;
    justify-content: space-between;
    align-items: center;

    & * {
        font-size: 1rem;
    }
}

.latest__list {
    grid-row: span 2;

    & * {
        text-decoration: none;
    }
}

.__front-page {
    grid-template-columns: repeat(3, 1fr);
}

.recommend::after {
    content: '';
    position: absolute;
    bottom: -.5rem;
    left: 0;

    border-bottom: 1px dotted #afafaf;
    width: 100%;
}

.comments {
    & > p {
        font-size: .875rem;
        margin-block: .5rem;

        & span {
            display: block;
            margin-block: .75rem;
        }
    }
}

.profile {
    grid-template-columns: 2.25rem 1fr;
    gap: .125rem;
    grid-template-rows: 1rem 1rem;
    margin-bottom: .5rem;
}


