.--grid {
    display: grid;
    gap: .25rem;
}

.--span-2 {
    grid-column: span 2;
}

.--flex {
    display: flex;
}

.--column {
    flex-direction: column;
    gap: .25rem;
}

.--icon {
    width: 1em;
    height: 1em;
}

.--bold {
    font-weight: 700;
}

.--uppercase {
    text-transform: uppercase;
}

.--small {
    font-size: .675rem;
}

.--red {
    color: red;
}

.--black {
    color: #000000;
    fill: #000000;
}

.--light-grey {
    color: #b6b6b6;
    fill: #b6b6b6;

}

.--grey {
    color: #767676;
    fill: #767676;
}

.--vertical {
    writing-mode: vertical-rl;
    text-orientation: mixed;
}

.full-w {
    grid-column: 1 / -1;
}

.--social {
    justify-content: center;
    align-items: center;
    
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
}

.--btn {
    display: flex;
    gap: .25rem;
    align-items: center;
    justify-content: center;

    width: 6rem;
    height: 2rem;
    padding: .5rem 1rem;

    border: none;
    border-radius: .25rem;

    text-decoration: none;
    color: #FFF;
    fill: #FFF;

    cursor: pointer;
}

.--large-btn {
    width: 10rem;
    height: 2rem;
    padding: .5rem 1rem;
}

.--bg-blue {
    background: #306199;
}

.--bg-light-blue {
    background: #26C4F1;
}

.--bg-grey {
    background: #999;
}

.--bg-red {
    background: #E63946;
}

.--no-underline {
    text-decoration: none;
}

.--gap {
    gap: 0.5rem;
}

.--center {
    margin: auto;
    text-align: center;
}

.--free {
    padding-top: 1.25rem;
}

.--sans {
    font-family: Arial, Helvetica, sans-serif;
}